@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Merriweather:wght@700;900&family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@400;500;600&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  font-family: "Lato" ;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1{
  color: #005FA3;
  font-family: "Merriweather";
  font-weight: 900;
  line-height: 49px;
  font-size: 37px;
}

h2{
  font-family: "Merriweather";
  font-size: 48px;
  font-weight: 900;
  line-height: 70px;
  color: #333333;
  padding: 20px 0 100px;
}

h3{
  font-family: "Lato";
  font-weight: 900;
  line-height: 33px;
  color: #BDBDBD;
  font-size: 24px;
}

.container{
  width: 70%;
  margin: 0 auto;
}

/* HEADER */
.header{
  padding: 15px 0;
  background-color: #EBEBEB;
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__logo{
  display: flex;
  align-items: center;
}

.logo{
  margin: 0 15px 0 0;
}

.header__menu{
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
}
.header__submenu{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.submenu__item{
  display: flex;
  align-items: center;
  margin: 0 15px 0 0;
  font-size: 13px;
  line-height: 17px;
  font-family: "Lato";
  font-weight: 400;
}

.submenu__item img{
  margin: 0 5px 0 0;
}

.header__menu-links{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 17px;
  font-family: "Lato";
  font-weight: 700;
}

.link{
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

/* SECTION SLIDER */
.section__slider{
  background-image: url(../img/header/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider{
  padding: 170px 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.slide h2{
  font-family: "Merriweather";
  font-size: 48px;
  color: #FFFFFF;
}

.slider .slick-arrow{
  position: absolute;
  z-index: 10;
  font-size: 0;
}

.slider .slick-arrow.slick-prev{
  background: url(../img/form/back.svg) 0 0 no-repeat;
  right: 70px;
  bottom: 150px;
  width: 60px;
  height: 60px;
  background-color:rgb(138, 118, 118, 0.5);
  background-position-x: 50%;
  background-position-y: 50%;
}

.slider .slick-arrow.slick-next{
  background: url(../img/form/next.svg) 0 0 no-repeat;
  right: 0px;
  bottom: 150px;
  width: 60px;
  height: 60px;
  background-color: rgb(138, 118, 118, 0.5);
  background-position-x: 50%;
  background-position-y: 50%;
}

.slick-track{
  display: flex;
  justify-content: space-between;
}

.slick-list{
  overflow:hidden;
}

.slider .slick-dots{
  justify-content: space-between;
  display: flex;
}

.slider .slick-dots li{
  list-style: none;
  margin: 100px 70px 0 0;
}

.slider .slick-dots li.slick-active button{
  opacity: 1;
  width: 20px;
  height: 20px;
}

.slider .slick-dots li button{
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: #fff;
}

/* SECTION SPECIAL */
.special{
  background-color: #EBEBEB;
  padding: 50px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
}

.special__block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.block__item{
  display: flex;
  align-items: flex-end;
  padding: 15px 15px;
  background-image: url(/img/specials/bg.png);
  background-repeat: no-repeat;
  height: 320px;
  width: 350px;
  margin: 0 15px 15px 0;
  cursor: pointer;
}

.block__item h3{
  color: #FFFFFF;
}

.block__item:hover{
  background-image: url(/img/specials/bg-hover.png);
}

/* SECTION INFO */
.info{
  padding: 130px 0 140px 0;
}

.info__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info_description{
  flex: 1;
  margin: 0 110px 0 0;
}
.info_description h2>span{
  color: #005FA3;
}

.info_description p{
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

.info_block{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
}

.info__block-item{
  background-color: #EBEBEB;
  max-width: 255px;
  max-height: 255px;
  margin: 0 15px 15px 15px;
  padding: 20px;
}

.info__block-item h2{
  font-size: 55px;
  font-weight: 900;
  font-family: "Lato";
  line-height: 66px;
  padding: 0 0 15px 0;
}

.info__block-item p{
  font-family: "Lato";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 50px 0;
}

.info__block-item a{
  font-size: 14px;
  line-height: 17px;
  color: #005FA3;
  cursor: pointer;
}

.info__block-item:hover{
  background-color: #005FA3;
  color: #FFFFFF;

}

.info__block-item:hover a{
  color: #FFFFFF;
}

/* SECTION CLIENT */

.section__client{
  background-color: #EBEBEB;
  padding: 100px 0 100px 0;
}


.client__slider{
  padding: 170px 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.client__slider .slick-arrow{
  position: absolute;
  z-index: 9;
  font-size: 0;
}

.client__slider .slick-arrow.slick-prev{
  background: url(../img/form/back.svg) 0 0 no-repeat;
  right: 70px;
  bottom: 150px;
  width: 60px;
  height: 60px;
  background-color:rgb(0, 95, 163, 0.7);
  background-position-x: 50%;
  background-position-y: 50%;
}

.client__slider .slick-arrow.slick-next{
  background: url(../img/form/next.svg) 0 0 no-repeat;
  right: 0px;
  bottom: 150px;
  width: 60px;
  height: 60px;
  background-color:rgb(0, 95, 163, 0.7);
  background-position-x: 50%;
  background-position-y: 50%;
}

.client__slider .slick-track{
  display: flex;
  /* justify-content: space-between; */
}

.client__slider .slick-list{
  overflow:hidden;
}

.client__slider .slick-dots{
  justify-content: space-between;
  display: flex;
}

.client__slider .slick-dots li{
  list-style: none;
  margin: 100px 70px 0 0;
}

.client__slider .slick-dots li.slick-active button{
  opacity: 1;
  width: 20px;
  height: 20px;
}

.client__slider .slick-dots li button{
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: #fff;
}


/* SECTION REVIEWS */
.section__reviews{
  padding: 100px 0;
}

.reviews__slider{
  padding: 0 0 170px 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reviews__slide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #EBEBEB;
  padding: 80px 150px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
}

.slide__cart{
  display: flex;
  align-items: center;
  margin: 50px 0 0 0;
}

.cart__info{
  margin-left: 35px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.cart__info h4{
  font-weight: 900;
  line-height: 25px;
  font-size: 18px;
}

.reviews__slider .slick-arrow{
  position: absolute;
  z-index: 9;
  font-size: 0;
}

.reviews__slider .slick-arrow.slick-prev{
  background: url(../img/form/back.svg) 0 0 no-repeat;
  right: 70px;
  bottom: 150px;
  width: 60px;
  height: 60px;
  background-color:rgb(0, 95, 163, 0.7);
  background-position-x: 50%;
  background-position-y: 50%;
}

.reviews__slider .slick-arrow.slick-next{
  background: url(../img/form/next.svg) 0 0 no-repeat;
  right: 0px;
  bottom: 150px;
  width: 60px;
  height: 60px;
  background-color:rgb(0, 95, 163, 0.7);
  background-position-x: 50%;
  background-position-y: 50%;
}

.reviews__slider .slick-track{
  display: flex;
}

.reviews__slider .slick-list{
  overflow:hidden;
}

.reviews__slider .slick-dots{
  justify-content: space-between;
  display: flex;
  
}

.reviews__slider .slick-dots li{
  list-style: none;
  margin: 100px 70px 0 0;

}

.reviews__slider .slick-dots li.slick-active button{
  opacity: 1;
  width: 20px;
  height: 20px;
  background-color: #005FA3;
}

.reviews__slider .slick-dots li button{
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: rgb(0, 95, 163, 0.7);
}

/* SECTIOM FORM */

.section__form{
  background-image: url(../img/form/form_bg.png);
  background-repeat:no-repeat;
  background-size: cover;
  padding: 130px 0 140px 0;
  color: #FFFFFF;
  flex-wrap: wrap;
}

.form__block{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.form__info{
  width: 40%;
  margin-right: 60px;
}

.form__info h2{
  font-size: 48px;
  line-height: 69px;
  font-family: "Merriweather";
  font-weight: normal;
  color: #FFFFFF;
  margin: 0 0 55px 0;
}

.form__info p{
  font-family: "Lato";
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  margin: 0 0 70px 0;
}

.form__info-subinfo{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 
}

.submenu__item{
  margin-bottom: 20px;
}
.submenu__item p{
  font-family: "Lato";
  font-size: 21px;
  line-height: 29px;
  padding: 0 0 0 10px;
  margin: 0;
}

.form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
}

.form__item{
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.form__item label{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0 0 15px 0;
}

.form__item input{
  width: 255px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid gray;
  color: #BDBDBD;
  font-size: 21px;
  line-height: 28px;
  font-weight: 300;
  padding: 0 0 5px;
  margin-bottom: 35px;
}

.form__item textarea{
  height: 90px;
  width: 680px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid gray;
  color: #BDBDBD;
  font-size: 21px;
  line-height: 28px;
  font-weight: 300;
  padding: 0 0 5px 0;
  margin-bottom: 50px;
}

.form-btn{
  background-color:#005FA3;
  padding: 19px 18px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #FFFFFF;
  border: 0;
}

/* FOOTER */
.footer__info{
  padding: 45px 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "Lato";
}

@media screen and (max-width: 1200px){
  .form__item textarea{
    width: 500px;
  }
  .submenu__item{
    padding: 0 65px 0 0;
  }
}

@media screen and (max-width: 1130px){
  .special__block{
    justify-content: center;
  }
}

@media screen and (max-width: 850px){
  .form__info{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .form__info{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 805px){
  .header__wrapper{
    align-items: center;
    justify-content: center;
    padding: 50px 0; 
    width: 70%; 
    margin: 0 auto;
  }

  .header__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
  }
  
  .header__submenu{
    display: flex;
    flex-direction: column;   
  }

  .header__menu-links{
    display: flex;
    flex-direction: column;
  }
  .reviews__slide{
    width: 100%;
    padding: 80px 80px ;
  }
}

@media screen and (max-width: 805px){
  h2{
    font-size: 30px;
  }
  .form__item textarea{
    width: 300px;
  }
}
